{
  "\U00BF" = "\\U00BF";
  "\U00C1" = "\\U00C1";
  "\U00C9" = "\\U00C9";
  "\U00CD" = "\\U00CD";
  "\U00D3" = "\\U00D3";
  "\U00DA" = "\\U00DA";
  "\U00E1" = "\\U00E1";
  "\U00E9" = "\\U00E9";
  "\U00ED" = "\\U00ED";
  "\U00F3" = "\\U00F3";
  "\U00FA" = "\\U00FA";
  "\U00D1" = "\\U00D1";
  "\U00F1" = "\\U00F1";
  "\U00C4" = "\\U00C4";
  "\U00D6" = "\\U00D6";
  "\U00DC" = "\\U00DC";
  "\U00DF" = "\\U00DF";
  "\U00E4" = "\\U00E4";
  "\U00F6" = "\\U00F6";
  "\U00FC" = "\\U00FC";
  "\U00C7" = "\\U00C7";
  "\U00E7" = "\\U00E7";
  "\U00CB" = "\\U00CB";
  "\U00CF" = "\\U00CF";
  "\U00EB" = "\\U00EB";
  "\U00EF" = "\\U00EF";
  "\U00A1" = "\\U00A1";
}